<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	
	<title>Cadastro de Produtos</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Cadastro de Produtos</strong>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${produto}" th:action="@{/salvar}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div> 					
						<div class="form-group row">
						    <div class="col-md-1">
						        <input type="text" class="form-control input-sm" id="codigo" th:field="*{codigo}" readOnly="readonly"/>
						    </div>
						 </div>
						<div class="form-group row">                                                          
							<div class="col-md-4" th:classappend="${#fields.hasErrors('descricao')}? 'has-error'">
							    <label>Descrição</label>
							    <input type="text" class="form-control input-sm" th:field="*{descricao}" autofocus="autofocus" placeholder="Informe a Descrição" maxlength="50"/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('marca')}? 'has-error'">
								<label>Marca</label> 
								<input type="text" class="form-control input-sm" th:field="*{marca}" maxlength="150" placeholder="Informe a Marca"/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('preco')}? 'has-error'">
								<label>Preço</label>
								<input type="text" class="form-control input-sm js-moeda" th:field="*{preco}" maxlength="150" placeholder="Informe o Preço"/>
							</div>
						</div>						
						<div class="form-group row">
							<div class="col-md-2" th:classappend="${#fields.hasErrors('data')}? 'has-error'">
								<label>Data</label> 
								<input type="date" class="form-control input-sm" th:field="*{data}"/>
							</div>
						</div>						
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript"src="/javascript/jquery.masknumber.min.js"></script>
	<script>
		$('.js-moeda').maskNumber({
			decimal: ',',
			thousands: '.'
		});
	</script>	
	
</body>
</html>