<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	
	<title>Produtos</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Produtos</strong>
		</div>
		<div class="panel-body">
		
			<form method="GET" class="form-vertical  js-form-loading" th:object="${produtoFilter}">
				<div class="form-group">
					<div class="input-group">
						<input id="descricao" type="text" th:field="*{descricao}" class="form-control" 
							placeholder="Pesquise pela descrição"/>
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<span class="glyphicon  glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</form>
			
			<div class="table-responsive">
				<table class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th><center>Código</center></th>
							<th><center>Descrição</center></th>
							<th><center>Marca</center></th>
							<th><center>Preço</center></th>
							<th><center>Data</center></th>
							<th><center>Ações</center></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="produto : ${produtos}">
							<td th:text="${produto.codigo}" align="center"></td>
							<td th:text="${produto.descricao}" align="center"></td>
							<td th:text="${produto.marca}" align="center"></td>
							<td th:text="|R$ ${produto.preco}" align="center" class="js-moeda"></td>
							<td th:text="${#dates.format(produto.data, 'dd/MM/yyyy')}" align="center"></td>
							<td>
								<div class="btn-group pull-right">
							   		<a class="btn btn-sm btn-primary" th:href="@{/editar/{id}(id=${produto.codigo})}" >Editar</a>
							   		<a class="delete btn btn-sm btn-danger" th:href="@{/deletar/{id}(id=${produto.codigo})}" >Excluir</a>
							   </div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer">
			<a class="btn btn-sm btn-success" th:href="@{/adicionar/}" >Adicionar</a>
		</div>
	</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript"src="/javascript/jquery.masknumber.min.js"></script>
	<script>
		$('.js-moeda').maskNumber({
			decimal: ',',
			thousands: '.'
		});
	</script>	
</body>
</html>